/* HEADER */

.cabecalhoPrincipal .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cabecalhoPrincipal-nav {
    display: flex;
}


/* NOSSOS CURSOS */

.conteudoPrincipal-cursos {
    display: flex;
    flex-wrap: wrap;
}

.conteudoPrincipal-cursos-link {
    width: 23%;
    margin: 1%;
}

.conteudoPrincipal-cursos-link:nth-child(4n) {
    margin-right: 0;
}

.conteudoPrincipal-cursos-link:nth-child(4n+1) {
    margin-left: 0;
}


/* FOOTER - LISTA DE CURSOS */

.rodapePrincipal-navMap-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 255px;
}


/* FOOTER - PATROCINADORES*/

.rodapePrincipal-patrocinadores .container {
    display: flex;
    justify-content: space-between;
}

.rodapePrincipal-patrocinadores-list {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.rodapePrincipal-contatoForm-fieldset {
    display: flex;
}


/* RESPONSIVO */

@media(max-width: 768px) {
    .cabecalhoPrincipal-nav {
        flex-direction: column;
        width: 100%;
    }
    .cabecalhoPrincipal .container {
        flex-direction: column;
        align-items: initial;
        text-align: center;
    }
    .conteudoPrincipal-cursos {
        flex-direction: column;
        width: 100%;
    }
    .conteudoPrincipal-cursos-link {
        width: 100%;
    }
    .rodapePrincipal-navMap-list {
        height: auto;
    }
    .rodapePrincipal-patrocinadores .container {
        flex-direction: column;
        align-items: center;
    }
    .rodapePrincipal-contatoForm {
        width: 100%;
    }
    .rodapePrincipal-patrocinadores-list {
        margin: 0;
        width: 100%;
    }
    .rodapePrincipal-contatoForm-fieldset {
        justify-content: center
    }
    .cabecalhoPrincipal-nav-link-app {
        order: -1;
    }
}